services:
  nginx:
    image: nginx:latest
    ports:
      - 80:80
      - 4434:4434
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./service-frontend/dist:/usr/share/nginx/service-frontend/dist
      - ./web_service/media:/usr/src/app/media
      - ./web_service/static:/usr/src/app/static
      - /var/www/certbot/:/var/www/certbot/
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
    env_file:
      - .env

  certbot:
    image: certbot/certbot:latest
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    entrypoint: ""
    command: >
      sh -c "trap exit TERM;
             while :; do
               certbot renew --webroot -w /var/www/certbot;
               sleep 12h;
             done"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./web_service:/service/web_service

    command: ../entrypoint.sh
    environment:
      DJANGO_DATABASE_HOST: database
      DJANGO_REDIS_HOST: redis
    env_file:
      - .env

    depends_on:
      - database

  database:
    image: postgres:14.6-alpine
    ports:
      - 3305:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./pg_dump:/service/pg_dump
    env_file:
      - .env

volumes:
  postgres_data: