.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 60px;
  z-index: 10;
}

.menu {
  flex-grow: 1;
}

.container {
  max-width: 1240px;
  width: 100%;
  min-height: calc(100vh - 116px);
  margin: 0 auto;
  padding: 20px 20px 52px 20px;
  box-sizing: border-box;
}
